<!DOCTYPE html>
<html>
<head>
  <title>Jibber Jabber - The Lab</title>
  <link rel="stylesheet" href="/css/main.css" type="text/css">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js" type="text/javascript"></script>
  <!--Flash library-->
  <script src='http://static.opentok.com/v1.1/js/TB.min.js' type="text/javascript" charset="utf-8"></script>
  <script src='/js/flash.js' type="text/javascript" charset="utf-8"></script>
</head>
<body>

  <%- body %>

  <footer>
    <p>Jibber Jabber. Made by <a href="http://thelab.o2.com">The Lab.</a></p>
  </footer>

</body>
</html>
